<p>
    Я не придумал, что здесь будет, поэтому вот смешные гифки :)
</p>

<img src="~/images/cow.gif" alt="Dancing cow" style="width:300px; height:300px">
<img src="~/images/mlg.gif" alt="MLG" style="width:300px; height:300px">
<img src="~/images/hacker.gif" alt="Hacker" style="width:300px; height:300px">
<img src="~/images/cat.gif" alt="Hacker" style="width:300px; height:300px">
<img src="~/images/cat-vibing.gif" alt="Hacker" style="width:300px; height:300px">
