<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Хозяйствующий субъект</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand text-primary" asp-controller="Home" asp-action="Index">RGZ-ASP</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Product" asp-action="Index">Склад</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>
